$main-color: #f7f8f9;
$dark-blue: #223c52;

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $dark-blue;
}

header{
    width: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;

    .header-top{
        width: 65%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 0;

        .logo-container{
            width: 30%;
            display: flex;
            align-items: center;

            img{
                width: 100%;
                max-width: 150px;
            }
        }

        .header-top-right{
            display: flex;
            align-items: center;

            .input-container{
                width: 300px;
                position: relative;

                img{
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    width: 20px;
                }

                input{
                    width: 100%;
                    padding: 10px;
                    background-color: $main-color;
                    color: #adadad;
                    border: none;
                }
            }
          

            .image-container{
                width: 15px;
                margin-left: 30px;

                img{
                    width: 100%;
                }
            }

            .search-mobile{
                display: none;
            }
        }
    }

    .header-bottom{
        width: 100%;
        background-color: $main-color;
        
        .categories-list{
            width: 65%;
            margin: 0 auto;
            display: flex;
            list-style: none;
            padding: 0;
            color:  $dark-blue;
            
            li{
                margin-right: 50px;
                height: 50px;
                display: flex;
                align-items: center;;
                font-size: 13px;
            }
        }
    }
}

.swiper{
    margin-top: 2rem;
    height: 500px;
    padding: 0 50px;
    margin-bottom: 20px;
    
    .swiper-wrapper{
        
        .swiper-slide{
            background-color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 100px;
                height: 100px;
            }
        }
        
    }
    .swiper-button-prev {
        color: black;
    }

    .swiper-button-next{
        color: black;
    }

    .swiper-pagination{
        margin-bottom: 10px;

        .swiper-pagination-bullet{
            height: 15px;
            width: 15px;
            color: #adadad;
        }
    }
}




.hot-sellers{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
     
    .hot-sellers-container{
    }

    h1{
        text-align: center;
        margin: 50px 0;
    }

    .mySwiper{
        height: 400px;
        padding: 0 30px;
        padding-bottom: 50px;
        max-width: 1500px;
        
        .swiper-wrapper{
            
            .swiper-slide{
                
                background-color: white;
                display: flex;
                flex-direction: column;

                &-image {
                    background-color: $main-color;
                    width: 100%;
                    height: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &-info{
                    width: 100%;
                    color: $dark-blue;
                }
            }
        }

        .swiper-button-next, .swiper-button-prev{
            top: 40%;
        }

        .swiper-button-next{
           right: 0;
        }

        .swiper-button-prev{
           left: 0;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom: -10px;
        }
    }


    // ------------------ ESTILOS DE CARRUSEL HECHO A MANO -----------------------

    .carousel {
        width: 100%;
        position: relative;
        height: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 1500px;
    
        .carousel-slide {
            width: 100%;
            max-width: 250px;
            // margin: 0 30px;
            padding: 20px 30px;
    
            .carousel-slide-img {
                height: 100%;
                background-color: gray;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .carousel-arrow {
            width: 30px;
    
            img {
                width: 100%;
            }
        }
        
        
        .carousel-arrow-right {
            position: absolute;
            right: 0;
            top: 50%;
            transform: rotate(180deg);
        }
        
        .carousel-arrow-left {
            position: absolute;
            left: 0;
            top: 50%;
        }
    }

    // --------------------- FIN ESTILOS CARRUSEL A  MANO ---------------------------
    
    
    

    


}

footer{
    width: 100%;
    background-color: $main-color;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 6rem;
    
    .footer-container{
        display: flex;
        margin: 0 auto;
        width: 40%;
        justify-content: space-between;

        .footer-column{

            display: flex;
            flex-direction: column;

            .image-container{
                display: none;
            }

            p{
                margin: 0;
                font-size: 26px;
            }

            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;

                li{
                    line-height: 1.5;
                    color: #adadad;
                }
            }
        }
    }
}


// CATEGORY PRODUCTS ----------------------------------------------------------------

.products {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 5rem;

    h1{
        margin: 40px 0;
        color: $dark-blue;
        font-size: 26px;
    }

    .products-cards-section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .product-card{

            max-width: 200px;
            min-width: 150px;
            
            .product-image {
                background-color: $main-color;
                height: 250px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .heart-container {
                    width: 14px;
                    position: absolute;
                    right: 5px;
                    top: 5px;

                    img{
                        width: 100%;
                    }
                }

                .image-container {
                   
                }
            }

            .product-info {
                margin: 0;
                color: $dark-blue;
                padding-top: 10px;

                p {
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: 17px;
                }

            }

            .add-to-cart-button {
                width: 100%;
                background-color: $dark-blue;
                color: #adadad;
                border: none;
                font-size: 14px;
                padding: 8px 0;
            }
        }
    }
}

.product {
    width: 65%;
    margin: 0 auto;

    .product-container{
        display: flex;
        margin-top: 8rem;

        .image-container{
            width: 60%;
            background-color: $main-color;
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 75px;
            }
        }

        .product-right{
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 0 35px;

            p{
                margin: 0;
                font-size: 38px;
                color: $dark-blue;
            }

            .product-info{
                display: flex;
                flex-direction: column;

                .other-info{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 2rem;
                    border-bottom: 1px solid #adadad;

                    .stock{
                        font-size: 13px;
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 10px;
                        margin-right: 12px;
                    }
                }
            }

            .product-quantity{
                display: flex;
                padding: 90px 0 50px 0;
                height: 30px;
                align-items: center;

                p{
                    font-size: 14px;
                    margin-right: 5px;

                }

                .cantidad-selector{
                    background-color: $main-color;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    border-radius: 4px;
                }
            }

            .add-to-cart-button{
                width: 100%;
                height: 50px;
                background-color: $dark-blue;
                color: white;
                font-size: 16px;
                border: none;
            }
        }

    }

    .information{
        height: 300px;
        margin-top: 5rem;
        margin-bottom: 7rem;
        background-color: $main-color;
        width: 100%;
        
        p{
            width: 50%;
            padding-left: 20px;
            padding-top: 40px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3rem;

        h1{
            display: none;
        }

        .products-cards-section{
            grid-template-columns: repeat(2, 1fr);

            .not-mobile {
                display: none;
            }
        }
    }

    .hot-sellers{


        .mySwiper {
            padding:0;
            padding-bottom: 50px;
        }

        .carousel {
            justify-content: center;

            .not-mobile{
                display: none;
            }
            
        
            .carousel-slide {
                
        
                .carousel-slide-img {
                   
                }
            }
            .carousel-arrow {
      
        
                img {
            
                }
            }
            
            
            .carousel-arrow-right {
            
            }
            
            .carousel-arrow-left {
              
            }
        }
    }

    .product{
        width: 80%;
    }

}

@media screen and (max-width: 770px) {

    header {

        padding: 15px 0;

        .header-top {
            width: 100%;

            .logo-container {
                margin-left: 15px;

            }

            .header-top-right {
                margin-left: auto;
                margin-right: 40px;
                // width: 100%;

                .input-container {
                    display: none;
                }

                .shopping-cart {
                    width: 30px;
                    margin-left: 0;
                }

                .mobile-header-right {
                    // width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    .image-container {
                        width: 30px;
                        margin-right: 10px;
                    }
                    
                    .search-mobile {
                        display: block;
                        margin-right: 20px;

                        img {
                            display: block;
                        }
                    }
                }

            }

        }

        .header-bottom{
            display: none;
        }
    }

    .product{
        width: 100%;

        .product-container{
            width: 100%;
            flex-direction: column;
            margin-top: 1rem;

            .image-container{
                width: 100%;
                height: 350px;
            }

            .product-right{
                width: 100%;
                padding: 0;

                .product-info{
                    padding: 0 20px;
                    padding-top: 20px;

                    .other-info{
                        margin-top: 1rem;
                        padding-bottom: 10px;
                    }
                }

                .product-quantity{
                    padding-left: 20px;
                }
                
                .product-container-button{
                    padding: 0 20px;
                }
            }
        }

        .information{
            padding: 10px;
            width: 90%;
            margin: 20px auto;

            p{
                width: 100%;
                padding: 0;
            }
        }
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 3rem;
        margin: 20px auto;
        
        h1{
            display: none;
        }
        
        .products-cards-section{
            grid-template-columns: repeat(2, 1fr);
            padding: 0 20px;
            width: 100%;
            
            

            .product-card{
                width: 100%;
                max-width: none;
                min-width: 0;
            }

            .not-mobile {
                display: none;
            }
        }
    }

    .swiper {
        margin-top: 0;
        max-height: 400px;
    }
   
    .footer {
        padding: 20px 0;

        .footer-container{
            flex-direction: column;
            width: 100%;
            
            .footer-column{
                margin: 0 15px;
                padding: 12px 20px;
                border-bottom: 1px solid #adadad;
                flex-direction: row;
                justify-content: space-between;
                
                .image-container{
                    display: block;
                    width: 25px;

                    img{
                        width: 100%;
                    }
                }

                ul{
                    display: none;
                }
            }
        }
        
    }
}