footer{
    width: 100%;
    background-color: $main-color;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 6rem;
    
    .footer-container{
        display: flex;
        margin: 0 auto;
        width: 40%;
        justify-content: space-between;

        .footer-column{

            display: flex;
            flex-direction: column;

            .image-container{
                display: none;
            }

            p{
                margin: 0;
                font-size: 26px;
            }

            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;

                li{
                    line-height: 1.5;
                    color: #adadad;
                }
            }
        }
    }
}


@media screen and (max-width:770px) {
    .footer {
        padding: 20px 0;

        .footer-container{
            flex-direction: column;
            width: 100%;
            
            .footer-column{
                margin: 0 15px;
                padding: 12px 20px;
                border-bottom: 1px solid #adadad;
                flex-direction: row;
                justify-content: space-between;
                
                .image-container{
                    display: block;
                    width: 25px;

                    img{
                        width: 100%;
                    }
                }

                ul{
                    display: none;
                }
            }
        }
        
    }
}