

.product {
    width: 65%;
    margin: 0 auto;

    .product-container{
        display: flex;
        margin-top: 8rem;

        .image-container{
            width: 60%;
            background-color: $main-color;
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 75px;
            }
        }

        .product-right{
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 0 35px;

            p{
                margin: 0;
                font-size: 38px;
                color: $dark-blue;
            }

            .product-info{
                display: flex;
                flex-direction: column;

                .other-info{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 2rem;
                    border-bottom: 1px solid #adadad;

                    .stock{
                        font-size: 13px;
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 10px;
                        margin-right: 12px;
                    }
                }
            }

            .product-quantity{
                display: flex;
                padding: 90px 0 50px 0;
                height: 30px;
                align-items: center;

                p{
                    font-size: 14px;
                    margin-right: 5px;

                }

                .cantidad-selector{
                    background-color: $main-color;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    border-radius: 4px;
                }
            }

            .add-to-cart-button{
                width: 100%;
                height: 50px;
                background-color: $dark-blue;
                color: white;
                font-size: 16px;
                border: none;
            }
        }

    }

    .information{
        height: 300px;
        margin-top: 5rem;
        margin-bottom: 7rem;
        background-color: $main-color;
        width: 100%;
        
        p{
            width: 50%;
            padding-left: 20px;
            padding-top: 40px;
        }
    }
}


@media screen and (max-width: 1250px) {

    .product{
        width: 80%;
    }
}

@media screen and (max-width: 770px) {

    .product{
        width: 100%;

        .product-container{
            width: 100%;
            flex-direction: column;
            margin-top: 1rem;

            .image-container{
                width: 100%;
                height: 350px;
            }

            .product-right{
                width: 100%;
                padding: 0;

                .product-info{
                    padding: 0 20px;
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column-reverse;

                    .other-info{
                        margin-top: 1rem;
                        padding-bottom: 10px;
                    }
                }

                .product-quantity{
                    padding-left: 20px;
                }
                
                .product-container-button{
                    padding: 0 20px;
                }
            }
        }

        .information{
            padding: 10px;
            width: 90%;
            margin: 20px auto;

            p{
                width: 100%;
                padding: 0;
            }
        }
    }
}